In [1]:
import pandas as pd

In [2]:
obj = pd.Series([4,7,-5,-3])

In [3]:
obj

0    4
1    7
2   -5
3   -3
dtype: int64

In [5]:
#Traer objetos de acorde a su indice
obj[[2,3,1]]

2   -5
3   -3
1    7
dtype: int64

In [6]:
#Multiplica todos sus valores * 2
obj * 2

0     8
1    14
2   -10
3    -6
dtype: int64

In [9]:
sdata = {"Ohio": 3500, "Texas": 4838, "Oregon":3245,"Utha": 5000}
obj3 = pd.Series(sdata)
obj3

Ohio      3500
Texas     4838
Oregon    3245
Utha      5000
dtype: int64

In [10]:
#Asignar indices y a√±adir los valores de acorde a un diccionario
states = ["California", "Ohio", "Oregon","Texas"]
obj4 = pd.Series(sdata, index = states)
obj4

California       NaN
Ohio          3500.0
Oregon        3245.0
Texas         4838.0
dtype: float64

In [12]:
#Saber cuales datos son nulos
pd.isnull(obj4)
#O tambien ...
obj4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [13]:
#Saber cuales datos no son nulos
pd.notnull(obj4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [14]:
#Suma entre dataframe
obj4 + obj3

California       NaN
Ohio          7000.0
Oregon        6490.0
Texas         9676.0
Utha             NaN
dtype: float64